#minigame-info {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	background-color: $ui_cream;
}

.player-ribbons {
}

.minigame-preview-container {
	position: absolute;
	background-color: $ui_darkgreen;
	top: 80px;
	bottom: calc(20% + 40px);
	left: 15%;
	width: 70%;
	@include border-radius(1rem);
	@include box-shadow(
		0 0 0 2px rgba($ui_lightgreen,1),
		0 0 0 4px rgba($ui_darkgreen,1)
	);
	
	&:before {
		content: '';
		position: absolute;
		background-color: $ui_lightcream;
		width: calc(100% - 60px);
		height: calc(100% - 60px);
		top: 30px;
		left: 30px;
		@include border-radius(3rem);
	}
	
	.minigame-preview {
		position: absolute;
		width: calc(100% - 124px);
		height: calc(100% - 124px);
		top: 58px;
		left: 58px;
		border: solid 2px $ui_darkgreen;
		@include border-radius(1rem);
		overflow: hidden;
		background-color: #000000;
		
		#minigame-preview {
			width: 100%;
			height: 100%;
			background-image: url(https://media.giphy.com/media/z9lZMI5UDdI08/giphy.gif);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
		
		#minigame-blurb {
			position: absolute;
			margin: 0;
			bottom: 0px;
			height: 25px;
			width: 100%;
			background-color: rgba($ui_cream, 0.80);
			font-size: 20px;
			padding: 5px;
			color: $ui_darkgreen;
		}
	}
}

.minigame-description {
	position: absolute;
	background-color: $ui_red;
	width: 90%;
	height: 20%;
	min-height: 5rem;
	left: 5%;
	bottom: 20px;
	
	// Rounded corners
	@include clip-path(polygon(
		// Top left
		0% 1.5rem,
		0.389rem 1.449rem,
		0.75rem 1.299rem,
		1.061rem 1.061rem,
		1.299rem 0.75rem,
		1.449rem 0.389rem,
		1.5rem 0%,
		// Top right
		calc(100% - 1.5rem) 0%,
		calc(100% - 1.449rem) 0.389rem,
		calc(100% - 1.299rem) 0.75rem,
		calc(100% - 1.061rem) 1.061rem,
		calc(100% - 0.75rem) 1.299rem,
		calc(100% - 0.389rem) 1.449rem,
		100% 1.5rem,
		// Bottom right
		100% calc(100% - 1.5rem),
		calc(100% - 0.389rem) calc(100% - 1.449rem),
		calc(100% - 0.75rem) calc(100% - 1.299rem),
		calc(100% - 1.061rem) calc(100% - 1.061rem),
		calc(100% - 1.299rem) calc(100% - 0.75rem),
		calc(100% - 1.449rem) calc(100% - 0.389rem),
		calc(100% - 1.5rem) 100%,
		// Bottom left
		1.5rem 100%,
		1.449rem calc(100% - 0.389rem),
		1.299rem calc(100% - 0.75rem),
		1.061rem calc(100% - 1.061rem),
		0.75rem calc(100% - 1.299rem),
		0.389rem calc(100% - 1.449rem),
		0% calc(100% - 1.5rem)
	));
	
	.inner {
		margin: 1.25rem 2.5rem;
		width: calc(100% - 5rem);
		height: calc(100% - 2.5rem);
		background-color: $ui_lightcream;
		@include border-radius(1rem);
		
		#minigame-description {
			color: #000000;
			padding: 10px;
			height: calc(100% - 30px);
			overflow: hidden;
			font-size: 22px;
			text-overflow: ellipsis;
			text-align: justify;
		}
	}
}

.top-banner {
	position: relative;
	background-color: $ui_red;
	border: solid 2px $ui_cream;
	width: 85%;
	height: 60px;
	left: 7.5%;
	top: 20px;
	
	#minigame-name {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin: 10px;
		height: 40px;
		width: calc(100% - 20px);
		font-size: 40px;
		color: $ui_lightcream;
	}
	
	.left-tail, .right-tail {
		background-color: $ui_red;
		width: calc(40% - 6px);
		height: 40px;
		top: 40px;
		
		// Stacking Layer
		position: absolute;
		z-index: -1;
		
		&:before {
			content: '';
			background-color: $ui_red;
			position: absolute;
			height: 60%;
			top: 0;
			width: calc(100% + 17px);
		}
	}
	
	.left-tail {
		left: -40%;
		@include skewX(60deg);
		
		&:before {
			left: 0;
			@include skewX(-60deg);
		}
	}
	
	.right-tail {
		right: -40%;
		@include skewX(-60deg);
		
		&:before {
			right: 0;
			@include skewX(60deg);
		}
	}
}
