#minigame-info {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	background-color: $ui_cream;
}

.player-ribbons {
}

.minigame-preview {

}

.minigame-description {
	position: absolute;
	background-color: $ui_red;
	width: calc(100% - 4rem);
	height: 20%;
	left: 2rem;
	bottom: 20px;
	
	// 1 1.732 1.414
	
	@include clip-path(polygon(
		// Top left
		0% 2rem,
		0.518rem 1.932rem,
		1rem 1.732rem,
		1.414rem 1.414rem,
		1.732rem 1rem,
		1.932rem 0.518rem,
		2rem 0%,
		// Top right
		calc(100% - 2rem) 0%,
		calc(100% - 1.932rem) 0.518rem,
		calc(100% - 1.732rem) 1rem,
		calc(100% - 1.414rem) 1.414rem,
		calc(100% - 1rem) 1.732rem,
		calc(100% - 0.518rem) 1.932rem,
		100% 2rem,
		// Bottom right
		100% calc(100% - 2rem),
		calc(100% - 0.518rem) calc(100% - 1.932rem),
		calc(100% - 1rem) calc(100% - 1.732rem),
		calc(100% - 1.414rem) calc(100% - 1.414rem),
		calc(100% - 1.732rem) calc(100% - 1rem),
		calc(100% - 1.932rem) calc(100% - 0.518rem),
		calc(100% - 2rem) 100%,
		// Bottom left
		2rem 100%,
		1.932rem calc(100% - 0.518rem),
		1.732rem calc(100% - 1rem),
		1.414rem calc(100% - 1.414rem),
		1rem calc(100% - 1.732rem),
		0.518rem calc(100% - 1.932rem),
		0% calc(100% - 2rem)
	));
}

.top-banner {
	position: relative;
	background-color: $ui_red;
	border: solid 2px $ui_cream;
	width: 85%;
	height: 60px;
	left: 7.5%;
	top: 20px;
	
	#minigame-name {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin: 10px 10px;
		height: 40px;
		width: calc(100% - 20px);
		font-size: 40px;
	}
	
	.left-tail, .right-tail {
		background-color: $ui_red;
		width: calc(40% - 6px);
		height: 40px;
		top: 40px;
		
		// Stacking Layer
		position: absolute;
		z-index: -1;
		
		&:before {
			content: '';
			background-color: $ui_red;
			position: absolute;
			height: 60%;
			top: 0;
			width: calc(100% + 17px);
		}
	}
	
	.left-tail {
		left: -40%;
		@include skewX(60deg);
		
		&:before {
			left: 0;
			@include skewX(-60deg);
		}
	}
	
	.right-tail {
		right: -40%;
		@include skewX(-60deg);
		
		&:before {
			right: 0;
			@include skewX(60deg);
		}
	}
}
