#minigame-info {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	background-color: $ui_cream;
}

.player-ribbons {
}

.minigame-preview {

}

.minigame-description {

}

.top-banner {
	position: relative;
	background-color: $ui_red;
	border: solid 2px $ui_cream;
	width: 85%;
	height: 60px;
	left: 7.5%;
	top: 20px;
	
	#minigame-name {
		margin: 10px 0px;
		font-size: 40px;
	}
	
	.left-tail, .right-tail {
		background-color: $ui_red;
		width: calc(40% - 6px);
		height: 40px;
		top: 40px;
		
		// Stacking Layer
		position: absolute;
		z-index: -1;
		
		&:before {
			content: '';
			background-color: $ui_red;
			position: absolute;
			height: 60%;
			top: 0;
			width: calc(100% + 17px);
		}
	}
	
	.left-tail {
		left: -40%;
		@include skewX(60deg);
		
		&:before {
			left: 0;
			@include skewX(-60deg);
		}
	}
	
	.right-tail {
		right: -40%;
		@include skewX(-60deg);
		
		&:before {
			right: 0;
			@include skewX(60deg);
		}
	}
}
