// Compass mixins
@import "compass/css3/box-sizing";
@import "compass/css3/transform";
@import "compass/css3/box-shadow";

@import "myMixins";

// Variables
$ui_cream: #F1E8C7;
$ui_lightcream: #F7F4E3;
$ui_darkgreen: #17453B;
$ui_lightgreen: #92BAAF;
$ui_red: #CB322A;

// Main Screen
body, html {
	height: 100%;
	margin: 0px;
	overflow: hidden;
	color: white;
}

body {
	text-align: center;
	font-family: Helvetica, sans-serif;
	background-color: black;
	text-align: center;
}

#game {
	width: 100%;
	height: 100%;
	border: 1px solid #999999;
	@include box-sizing(border-box);
}

#info {
	color: #c3b225;
	position: absolute;
	bottom: 2%;
	left: 0;
	width: 100%;
	pointer-events: none;
	text-align: center;
}

// 
@import "minigameInfo";

